
@{
    ViewBag.Title = "Index";
}

<div class="home">
    <ul class="admin-links">
        <li>
            <a href=@Url.Action("Index", "Currency")>
                Типи валют
            </a>
        </li>
        <li>
            <a href=@Url.Action("Index", "HeaterType")>
                Типи опалення
            </a>
        </li>
    </ul>
</div>

