<div class="filter-div">
    <form>
        <div class="propos-div">
            <span id="number">0</span> предложений
        </div>
        <label htmlfor="priceFrom" id="price-label">
            Цена
        </label>
        <input id="priceFrom"
               name="priceFrom"
               type="text" />
        <input id="priceTo"
               name="priceTo"
               type="text" />
        <select name="currency_type">
            <option value="239">$</option>
            <option value="240">грн.</option>
            <option value="241">€</option>
        </select>
        <label htmlfor="roomFrom" id="room-label">
            Количество комнат (от до)
        </label>
        <input id="roomFrom"
               name="roomFrom"
               type="text" />
        <input id="roomTo"
               name="roomTo"
               type="text" />
        <div class="submit-div">
            <input type="submit" value="Filter" />
        </div>
    </form>
</div>