<div class="filter-div">
    <form>
        <div class="propos-div">
            <span id="number">0</span> предложений
        </div>
        <label htmlfor="priceFrom" id="price-label">
            Цена
        </label>
        <input id="priceFrom"
               name="priceFrom"
               type="text" />
        <input id="priceTo"
               name="priceTo"
               type="text" />
        <select name="currency_type">
            <option value="239">$</option>
            <option value="240">грн.</option>
            <option value="241">€</option>
        </select>
        <label htmlfor="rooms_count" id="room-label">
            Комнат
        </label>
        <button class="room-button" type="button">
            1
        </button>
        <button class="room-button" type="button">
            2
        </button>
        <button class="room-button" type="button">
            3
        </button>
        <button class="room-button" type="button">
            4+
        </button>
        <div class="submit-div">
            <input type="submit" value="Filter" />
        </div>
    </form>
</div>