@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    @Html.Partial("_Filter")
    <div class="poster-div">
        <div class="poster">
            <div class="img-div">
                <a href="#">
                <img src="https://cdn.riastatic.com/photosnew/dom/photo/realty-prodaja-kvartira-hmelnitskiy-dubovo-gastello-ulitsa__98151584fl.jpg" alt="img" />
                </a>
            </div>
            <div class="info-div">
                <div class="name-div">
                    <div class="name">
                        <a href="#">
                            Район Дубово ул. Гастелло
                        </a>
                    </div>
                    <div>
                        <button type="button" class="star-button">
                            <i class="fa fa-star"></i>
                        </button>
                    </div>
                </div>
                <div class="price">
                    27 000 $
                    <span class="second-part">
                        <i class="fas fa-circle"></i>
                        <span class="alt">737 705 грн</span>
                    </span>
                </div>
                <div class="rooms">
                    3 комнат
                    <span class="second-part">
                        <i class="fas fa-circle"></i>
                        <span class="alt">
                            45 м<sup>2</sup>
                        </span>
                    </span>
                </div>
                <div class="description">
                    Продається 3 кім. квартира в хорошому жи...
                </div>
                <div class="date">
                    <i class="far fa-clock"></i>
                    15.04.2020
                </div>
            </div>
        </div>
    </div>
</div>